CREATE OR REPLACE FUNCTION carservice.booking_heads_view_update_trg (
)
RETURNS trigger AS
$body$
DECLARE
  vGUID uuid;                                      
begin

/* NOTE NOTE NOTE: if Customer IS REPLACED by a 'New' one (that is customer_id = 0) we should do a new customer creation */

--- magari in un secondo momento :) -- 

 if new.customer_id = 0 then 
   vGUID := uuid_generate_v4 ();

 new.customer_id := nextval('anagraph.an_anagraph_seq');  
  
 INSERT INTO anagraph.anagraphs 
	(db_schema_id, jguid, anagraph_id, an_name, an_last_name, an_address, an_cellular, an_email,  an_main_group_id, an_office_id)
 VALUES
     (new.db_schema_id, vGUID, NEW.customer_id, NEW.cust_first_name, NEW.cust_last_name, NEW.full_address,  NEW.cust_cellular, NEW.cust_email, 28, new.office_id); 

 ELSIF EXISTS (SELECT 1 FROM anagraph.anagraphs WHERE anagraph_id = new.customer_id) THEN
     UPDATE anagraph.anagraphs SET
     	an_name      	 = COALESCE(NEW.cust_first_name, an_name), 
        an_last_name 	 = COALESCE(NEW.cust_last_name, an_name), 
        an_address		 = COALESCE(NEW.full_address, an_address), 	
        an_cellular		 = COALESCE(NEW.cust_cellular, an_cellular), 
        an_email		 = COALESCE(NEW.cust_email, an_email), 
        an_office_id	 = COALESCE(NEW.office_id, an_office_id)
     WHERE anagraph_id = new.customer_id;    
 END IF; 

UPDATE carservice.booking_heads
	SET id=new.id, office_id=new.office_id,  branch_id=new.branch_id,   db_schema_id=new.db_schema_id, customer_id=new.customer_id, 
	vehicle_model=new.vehicle_model, vehicle_color=new.vehicle_color, vehicle_numberplate=new.vehicle_numberplate
	WHERE jguid = old.jguid;

	  
	
   return new; 
end;
$body$
LANGUAGE 'plpgsql'
VOLATILE
CALLED ON NULL INPUT
SECURITY INVOKER
PARALLEL UNSAFE
COST 100;

ALTER FUNCTION carservice.booking_heads_view_update_trg ()
  OWNER TO ergo;