NEGO_00 RCDATA  "00_20.png" 
NEGO_01 RCDATA  "01_20.png" 
NEGO_02 RCDATA  "02_20.png" 
NEGO_03 RCDATA  "03_20.png" 
NEGO_04 RCDATA  "04_20.png" 
NEGO_05 RCDATA  "05_20.png" 
NEGO_06 RCDATA  "06_20.png" 
NEGO_07 RCDATA  "07_20.png" 
NEGO_08 RCDATA  "08_20.png" 
NEGO_09 RCDATA  "09_20.png" 
NEGO_10 RCDATA  "10_20.png" 
NEGO_11 RCDATA  "11_20.png" 
NEGO_12 RCDATA  "12_20.png" 
NEGO_13 RCDATA  "13_20.png" 
NEGO_14 RCDATA  "14_20.png" 
NEGO_15 RCDATA  "15_20.png" 
NEGO_16 RCDATA  "16_20.png" 
NEGO_17 RCDATA  "17_20.png" 
NEGO_18 RCDATA  "18_20.png" 
NEGO_19 RCDATA  "19_20.png" 
NEGO_20 RCDATA  "20_20.png" 
NEGO_21 RCDATA  "21_20.png" 
NEGO_22 RCDATA  "22_20.png" 
NEGO_23 RCDATA  "23_20.png" 
NEGO_24 RCDATA  "24_20.png" 
NEGO_25 RCDATA  "25_20.png" 
NEGO_26 RCDATA  "26_20.png" 
NEGO_27 RCDATA  "27_20.png" 
NEGO_28 RCDATA  "28_20.png" 
NEGO_29 RCDATA  "29_20.png" 
NEGO_30 RCDATA  "30_20.png" 
NEGO_31 RCDATA  "31_20.png" 
NEGO_32 RCDATA  "32_20.png" 
NEGO_33 RCDATA  "33_20.png" 
NEGO_34 RCDATA  "34_20.png" 
NEGO_35 RCDATA  "35_20.png" 
NEGO_36 RCDATA  "36_20.png" 
